<div id="accueil" class="container-sub display-none">
    <h1>Romain Parage</h1>
    <h1>E-Portfolio</h1>
    <p>
        Bienvenue sur mon Portofolio en ligne. Ici vous trouverez mon CV et une présentation de mes projets.
    </p>
</div>