<div id="blog" class="container-sub display-none">
    <h1>Blog</h1>
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#postCSharpParameters" data-toggle="tab">C# 1 - Parameters</a></li>
                <li><a href="#postCSharpDelegates" data-toggle="tab">C# 2 - Delegates</a></li>                
                <li><a href="#postCSharpTypes" data-toggle="tab">C# 3 - Value and reference types</a></li>
            </ul>
        </div>
        <div class="col-lg-9 tab-content">
            <div class="tab-pane active" id="postCSharpParameters">
                @Html.Partial("BlogPost/CSharpParameters")
            </div>
            <div class="tab-pane" id="postCSharpDelegates">
                @Html.Partial("BlogPost/CSharpDelegates")
            </div>
            <div class="tab-pane" id="postCSharpTypes">
                @Html.Partial("BlogPost/CSharpTypes")
            </div>
        </div>
    </div>
</div>