<h2>C# 4 - LinQ</h2>

<h3>ToLookup</h3>
<pre>
var productsByCategory = products.ToLookup(p => p.Category);
var category = "anything I like";

foreach (var product in productsByCategory[category])
{
    Console.WriteLine("\t" + product);
}

Console.WriteLine(String.Join(", ", productsByCategory[category].Where(p => p.Value > 20));
</pre>

<h3>SelectMany</h3>