<h2>C# 1 - Parameters</h2>

<h3>Optional parameters</h3>
<pre>
public void OptionalParameters(int param1 = 1, int param2 = 2)
{
    Console.WriteLine(param1 + " - " + param2);
}

public void Main()
{
    OptionalParameters(2, 5); // Write "2 - 5"
    OptionalParameters(2); // Write "2 - 2"
}
</pre>

<h3>Named parameters</h3>
<pre>
public void NamedParameters()
{
    OptionalParameters(param2 : 3); // Write "1 - 3"
}
</pre>

<h3>Out parameters</h3>
<pre>
public void OutParameter(out int param)
{
    param = 5; // The param must be initialize before the end of the method
}

public void Main()
{
    int param;
    OutParameter(out param);
    Console.WriteLine(param); // Write "5"
}
</pre>

<h3>Ref parameters</h3>
<pre>
public void RefParameter(ref string param)
{
    param = "Lola2";
}

public void Main()
{
    string param = "Lola"; // The param must be initialize before the call of the method
    OutParameter(ref param);
    Console.WriteLine(param); // Write "Lola2"
}
</pre>

<h3>Array parameters</h3>
<pre>
public void ArrayParameter(params int[] paramArray)
{
    foreach (var param in paramArray)
        Console.Write(param + " ");
}

public void Main()
{
    ListParameter(1, 2, 5); // Write "1 2 5 "
}
</pre>