<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggle collapsed" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#accueil" id="accueil_brand_button">Romain Parage</a>
        <div class="nav-collapse bs-navbar-collapse collapse" style="height: 0px;">
            <ul class="nav navbar-nav" id="menu">
                <li>
                    <a href="#accueil" id="accueil_button">Accueil</a>
                </li>
                <li>
                    <a href="#presentation" id="presentation_button">Présentation</a>
                </li>
                <li>
                    <a href="#realisations" id="realisations_button">Réalisations</a>
                </li>
                <li>
                    <a href="#blog" id="blog_button">Blog</a>
                </li>
                <li>
                    <a href="#galerie" id="galerie_button">Galerie</a>
                </li>
            </ul>
        </div>
    </div>
</div>