<h2>C# 3 - Value and reference types</h2>

<h3>Memmory</h3>
<p></p>

<h3>Value types</h3>
<p>
Allocated on the Stack(Pile).
Structure, Ennumerations, simply types (bool, int, float, ...)
Can be destroyed and created quickly.
Lifetime is determined by the defining scope.
The equal operator copy the type in a new one.
</p>

<h3>Reference types</h3>
<p>
Allocated on the Heap(Tas).
String, Object
Dynamic allocation, monitored by the .Net garbage collector.
The equal operator results in a copy of the reference.
String immutable
</p>

<h3>Boxing and unboxing</h3>
<p></p>