<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/accueil/">Romain Parage</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/accueil/">Accueil</a>
                </li>
                <li>
                    <a href="#/presentation/">Présentation</a>
                </li>
                <li>
                    <a href="#/realisations/">Réalisations</a>
                </li>
                <li>
                    <a href="#/galerie/">Galerie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>