/* General */
body {
    background: url(Images/cream_dust.png) repeat 0 0;
    padding: 70px 0 30px 0;
}

h1 {
    padding: 0 0 20px 0;
    font-size: 50px;
    font-weight: bold;
}

h3 {
    margin: 15px 0 10px 0;
    font-size: 22px;
    font-weight: bold;
}

h6 {
    margin: 0 0 5px 0;
    font-weight: bold;
    color: #999;
}

.tab-content {
    text-align: justify;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    padding: 15px;
}

.tab-content-notop {
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
}

.tab-content-nopadding {
    padding-bottom: 0;
}

.display-none {
    display: none;
}

/* Accueil */
#accueil {
    text-align: center;
}

    #accueil h1 {
        font-size: 100px;
    }

    #accueil p {
        font-size: 30px;
        margin-left: 15%;
        margin-right: 15%;
    }

/* Présentation */
#presentation div.icon {
    margin: 10px 15px 15px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    float: left;
}

    #presentation div.icon:hover {
        margin-top: 5px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

/* Réalisations */
.rea {
    background: url(Images/cream_dust.png) repeat 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 15px;
    margin-bottom: 15px;
}

/* Galerie */
#galerie img {
    border-radius: 6px;
    margin: 10px 0;
}