<div id="presentation" class="container-sub display-none">
    <h1>Présentation</h1>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#profil" data-toggle="tab">Profil</a>
            </li>
            <li>
                <a href="#formation" data-toggle="tab">Formation</a>
            </li>
            <li>
                <a href="#experience" data-toggle="tab">Expérience</a>
            </li>
            <li>
                <a href="#competences" data-toggle="tab">Compétences</a>
            </li>
        </ul>
        <div class="tab-content">

            <!-- Présentation -->
            <div class="tab-pane active" id="profil">
                <h3>Romain PARAGE (25 ans)</h3>
                <p>
                    D'abord un passe-temps, j'ai très vite eu envie de faire de l'informatique mon métier.
					Je suis en particulier passionné par les technologies du web qui permettent à mon imagination de pleinement s'exprimer.
					Mes autres passions sont le sport et les voyages.
                </p>
                <div class="row">
                    <div class="col-lg-1 icon">
                        <a href="http://en-gb.facebook.com/people/Romain-Parage/1346499526" target="_blank">
                            <img src="~/Content/Images/fb-icon.png" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 icon">
                        <a href="https://plus.google.com/116937733610590379328/posts" target="_blank">
                            <img src="~/Content/Images/g-icon.png" border="0" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 icon">
                        <a href="https://github.com/softcadbury" target="_blank">
                            <img src="~/Content/Images/git-icon.png" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-1 icon">
                        <a href="http://www.linkedin.com/pub/romain-parage/34/54/735" target="_blank">
                            <img src="~/Content/Images/in-icon.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <!-- Formation -->
            <div class="tab-pane" id="formation">
                <h3>2012/2013 - 3ème année d'études d'ingénieurs en informatique</h3>
                <h6>EPITA à Paris (75)</h6>
                <p>
                    Stage de 6 mois dans une entreprise de web française ainsi que plusieurs projets en groupe dans diverses technologies
					comme WPF, Silverlight, JEE ou JavaScript.
                </p>

                <h3>2011/2012 - 2ème année d'études d'ingénieurs en informatique</h3>
                <h6>EPITA à Paris (75)</h6>
                <p>
                    Stage de quatre mois dans une entreprise new-yorkaise et nombreux projets en groupe, comme deux sites internet en Php
					et C#, un web service en java ainsi qu'un projet C# utilisant la Kinect.
                </p>

                <h3>2010/2011 - 1ère année d'études d'ingénieurs en informatique</h3>
                <h6>EPITA à Paris (75)</h6>
                <p>
                    Travail en équipe avec de nombreuses réalisations, comme un Shell en C, un compilateur pour le
					langage Tiger en C++ ou encore un logiciel d'édition d'images en Java et un intranet en JEE.
                </p>

                <h3>2009/2010 - Année préparatoire pour les études d'ingénieurs</h3>
                <h6>EPITA à Villejuif (94)</h6>
                <p>
                    Réalisation d'un programme de détection de plus court chemin en C et d'un jeu vidéo qui se modifie en fonction de
					la musique donnée par l'utilisateur en C.
                </p>

                <h3>2007/2009 - DUT informatique</h3>
                <h6>IUT informatique de Reims (51)</h6>
                <p>
                    Stage de trois mois dans une université anglaise et
					réalisation d'un site internet pour organiser des réunions de médecins en Php, d'un Rubik's Cube en C++ / OpenGL
					et d'un programme de modélisation 3D des fichiers Google SketchUp en Java.
                </p>

                <h3>2006/2007 - Baccalauréat Scientifique, option Physique Chimie</h3>
                <h6>Lycée Monge à Charleville-Mézières (08)</h6>
            </div>

            <!-- Expérience -->
            <div class="tab-pane" id="experience">
                <h3>Depuis septembre 2013</h3>
                <h6>Travail - TalentSoft, Paris, France</h6>
                <p>
                    Travail en tant qu'ingénieur de développement dans l'équipe R&D de
					<a href="http://www.talentsoft.com/" target="_blank">TalentSoft</a>,
                    une entreprise développant des logiciels de gestion RH en SAAS.
                </p>

                <h3>Février/Août 2013</h3>
                <h6>Stage - 6 mois - Webnet, Paris, France</h6>
                <p>
                    Stage de fin d'études pour ma troisième année à l'EPITA, dans une entreprise d'intégration de solutions internet,
					<a href="http://webnet.fr/" target="_blank">Webnet</a>.
                </p>
                <ul>
                    <li>Maintenance corrective sur différentes applications (C#, ASP.NET Web Forms, ASP.NET MVC).</li>
                    <li>Maintenance évolutive sur le portail web du Secours Populaire (C#, ASP.NET Web Forms).</li>
                </ul>

                <h3>Septembre 2011/Janvier 2012</h3>
                <h6>Stage - 20 semaines - Peerform, New York, États-Unis</h6>
                <p>
                    Stage pour ma deuxième année à l'EPITA chez <a href="http://peerform.com" target="_blank">Peerform</a>,
                    une start-up new-yorkaise.
                </p>
                <ul>
                    <li>Développement d’une suite de tests permettant de simuler le comportement des utilisateurs
						sur le site de l’entreprise (C#, Selenium).
                    </li>
                    <li>Développement d'un programme pour gérer le lancement des tests et pour observer les résultats (C#, WPF).
                    </li>
                    <li>Développement d'un site internet pour promouvoir un jeu lancé par l'entreprise (PHP).
                    </li>
                    <li>Développement d'un module permettant d'ajouter des logs dans le projet
						internet de l'entreprise (C#, Log4Net).
                    </li>
                    <li>Développement d'une partie administration pour consulter les logs (C#, ASP.NET).
                    </li>
                </ul>

                <h3>Juin/Septembre 2010</h3>
                <h6>Travail - 11 semaines - Holt Hotel, Oxford, Angleterre</h6>
                <p>
                    Travail en tant que Kitchen Porter (Commis de cuisine) au
					<a href="http://www.holthotel.co.uk/" target="_blank">Holt Hotel</a>.
                </p>

                <h3>Avril/Juin 2009</h3>
                <h6>Stage - 10 semaines - Teesside University, Middlesbrough, Angleterre</h6>
                <p>
                    Stage pour la fin de mon DUT, dans une université anglaise,
					<a href="http://www.tees.ac.uk/" target="_blank">Teesside University</a>.
                </p>
                <ul>
                    <li>Conception d'un programme simulant, en 3D, l'insertion d'un cathéter dans une veine.
                        Projet à but médical (C++, OpenGL, PhysX).
                    </li>
                </ul>
            </div>

            <!-- Compétences -->
            <div class="tab-pane" id="competences">
                <h3>Programmation</h3>
                <p>
                    Framework .Net (C#) : ASP.NET MVC, ASP.NET Web Forms, WPF, WCF, ADO.NET Entity Framework, LinQ.<br />
                    Autres : C++, Java, PHP, JavaScript, Python, HTML 5, CSS 3, SQL.
                </p>

                <h3>Outils</h3>
                <p>
                    Virtual Studio 2010/2012, SQL Server Management Studio 2008/2012, IIS 7.0/7.5, SVN, Git.
                </p>

                <h3>Systèmes</h3>
                <p>
                    Windows, Linux.
                </p>

                <h3>Conception</h3>
                <p>
                    UML, Merise.
                    Cycle en V, Scrum.
                </p>

                <h3>Linguistiques</h3>
                <p>
                    Français, langue natale.<br />
                    Anglais, courant : 790/990 au TOEIC (Obtenu début 2011).
                </p>

                <h3>Divers</h3>
                <p>
                    Permis B (Obtenu début 2006).<br />
                    Diplôme de secouriste du travail (Obtenu fin 2008).<br />
                    Sport : Boxe anglaise, natation, cyclisme.
                </p>
            </div>
        </div>
    </div>
</div>